.grid-container {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
  // width: 100%;
}
/* .grid-container-fixed {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .grid-container-fixed {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .grid-container-fixed {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .grid-container-fixed {
    width: 1170px;
  }
}
 */

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  // margin: 0;
}

//rows
@for $i from 1 through 30
{
  .rows-#{$i} {
    grid-row: span #{$i}
  }
}

// xs
@for $i from 1 through 12
{
  .xs-#{$i} {
    grid-column: span #{$i}
  }
}

@media (min-width: 600px) {
  // sm
  @for $i from 1 through 12
  {
    .sm-#{$i} {
      grid-column: span #{$i}
    }
  }
}

@media (min-width: 960px) {
  // md
  @for $i from 1 through 12
  {
    .md-#{$i} {
      grid-column: span #{$i}
    }
  }
}

@media (min-width: 1264px) {
  // lg
  @for $i from 1 through 12
  {
    .lg-#{$i} {
      grid-column: span #{$i}
    }
  }
}

@media (min-width: 1904px) {
  // xl
  @for $i from 1 through 12
  {
    .xl-#{$i} {
      grid-column: span #{$i}
    }
  }
}

